<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<body>
  <form action="/resto/login" class="login_container" method="POST">
    <div class="login_frame">
      <div class="login_top">
        <span>Saytga Kirish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yxatdan o'tmaganmisiz?
          <a href="/resto/sign-up" style="color: #6440fb">Ro'yxatdan o'tish</a>
        </p>
      </div>
      <div class="login_input_frame">
        <div class="login_input_container">
          <label> Foydalanuvchining ismi: </label>
          <input
            placeholder="Foydalanuvchining ismi"
            type="text"
            value=""
            name="mb_nick"
            required
          />
        </div>
        <div class="login_input_container">
          <label> Password kiriting </label>
          <input
            placeholder="Password"
            type="password"
            value=""
            name="mb_password"
            required
          />
        </div>
      </div>
      <button class="login_btn btn" name="login" type="submit">Kirish</button>
    </div>
  </form>
</body>

<%- include('includes/footer') %>
