<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form
    class="login_container"
    action="/resto/sign-up"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span>Ro'yhatdan o'tish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yhatdan allaqachon o'tganmisiz?
          <a href="/resto/login" style="color: #6440fb">Login</a>
        </p>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Foydalanuvchining ismi</label>
          <input
            placeholder="Foydalanuvchining ismi"
            type="text"
            value=""
            name="mb_nick"
            required
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Telefon raqamingiz</label>
          <input
            placeholder="Telefon raqam"
            type="text"
            value=""
            name="mb_phone"
            required
          />
        </div>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Password</label>
          <input
            placeholder="passwordni kiriting"
            type="password"
            value=""
            name="mb_password"
            required
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Passwordni qayta kiriting</label>
          <input
            placeholder="passwordni tasdiqlash"
            type="password"
            value=""
            name="mb_confirm_password"
            required
          />
        </div>
      </div>

      <div class="login_input_frame">
        <div class="media-frame">
          <img
            class="upload_img_frame"
            src="/images/default_resto.jpeg"
            alt=""
          />
          <div class="upload_container">
            <span class="media_text">Taom Rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                type="text"
                class="upload-name"
                value="Rasmni tanlang"
                disabled="disabled"
              />
              <label>Rasmni Yuklash</label>
              <input
                type="file"
                id="input_file"
                name="restaurant_img"
                placeholder="Rasmni yuklang"
                class="upload-hidden form-control-file restaurant_img"
              />
            </div>
            <p class="thumbnail_desc">
              Oshxona rasmingizni bu yerga yuklang. <br />
              Muhim ko'rsatmalar: .jpg, .jpeg, yoki .png. <br />
              Rasmda matn yo'q bo'lishi darkor!
            </p>
          </div>
        </div>
      </div>

      <button class="login_btn btn" name="signup" type="submit">
        Ro'yhatdan o'tish
      </button>
    </div>
  </form>
</body>

<%- include('includes/footer') %>
